
.center {
  
  margin: auto;
  width: 70%;
  padding: 10px;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-color: #1e1e1e;
  min-height: 100vh;
  padding-top: 90px;
  width: 900px;
 
}

.container {
  min-width: 800px;
  min-height: 200px;
}

tr:nth-child(odd) {
    background-color: #e7e7e7;
  }

table {
    border-collapse: collapse;
    background-color: rgb(202, 202, 202);
    color: black;   
  }

th {
    background-color: rgb(184, 183, 183);
    border-bottom-style: solid;
  }

th, td {
    text-align: left;
    padding: 2px;
  }

input[type=submit] {
    background-color: #1e1e1e;
    border: solid;
    color: #00bdf3;
    padding: 5px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
input[type=submit]:hover {
    background-color: #00bdf3;
    color: #1e1e1e;
  }
      /* File button */

input[type="file"] {
    outline: none;
    padding: 5px;
    margin: 2px;
  }
 
input[type="file"]::before {
    top: 16px;
  }
  
input[type="file"] {
  position: relative;
  }

input[type="file"]::file-selector-button {
  background-color: #1e1e1e;
  width: 116px;
  border: solid;
  color: #00bdf3;
  padding: 6px;
    margin: 4px;
  }

input[type=file]::file-selector-button:hover {
  background-color: #00bdf3;
  color: #1e1e1e;
  }

 .testing {
  color: rgb(73, 73, 73);
}

#textinputx {
  border: solid;
  color: rgb(95, 95, 95);
  background-color: #1e1e1e;
  padding: 5px
  }